h1.about-heading {
    margin-bottom: 2rem;
}

h3.about-subheading {
    margin-bottom: 0.5rem;
}

.about-horizontal-rule {
    margin: 2rem 6rem;
    opacity: 0.3;
}

p.about-paragraph {
    margin-bottom: 1.25rem;
    line-height: 1.5rem;
}

.about-technical-container {
    display: flex;
    padding: 0.5rem;
}

.about-techical-title {
    font-weight: bold;
    width: 25%;
}

.about-technical-description {
    width: 75%;
}


@media screen and (max-width: 828px) {
    .about-technical-container {
        display: flex;
        flex-direction: column;
    }
    .about-techical-title {
        font-weight: bold;
        width: 100%;
    }
    .about-technical-description {
        width: 100%;
    }
} 
